AIRFLOW_PROJ_DIR=./data/
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=pwd
# just fernet
FERNET_KEY=
AIRFLOW_UID=50000

AIRFLOW_CONN_NEWS=postgresql://news2:news2@host.docker.internal:15432/news2

AIRFLOW_DAG_DIR=../../../
